#wrapper{
	width: 50%;
	height:30%;
	margin: 60px auto;
	padding : 20px;
	background: #EFFFE0;
}
form{
	width: 60%;
	margin: 100px auto;
	
}
form div{
	margin: 3px auto;

}
.textInput{
	margin-top :2px;
	height: 28px;
	border: 1px solid #5E6E66;
	font-size: 16px;
	padding: 1px;
	width:100%;
	background-color:pink;
	border-spacing: 1em 0;
}

.tablenew{
	border-spacing: 15px 15px;
}
.btn{
	margin: 60px;
	padding: 7px;
	width: 40%;
}
.val_error{
	color: #FF1F1F;
}
h1{
	text-align:center;
	font-size: 40px;
	height:30px;
}
h4{
	
	font-size: 20px;
}
h2{
	
	font-size: 20px;
}
.bn {
	margin-left : 6px;	
	border-spacing: 25px 25px;
	padding: 1px;
	display:block;
	height: 32px;
	width: 30px;
	border-radius: 5%;
	border: 1px solid red;
  }